@media (max-width: 1440px) {
  .title h1,
  .text-block p,
  .hidden_text {
    font-size: 200px;
  }

  .line-out,
  .line-in {
    gap: 30px;
  }

  .circle {
    width: 600px;
    height: 600px;
  }

  .c2 {
    width: 500px;
    height: 500px;
  }

  .c3 {
    width: 400px;
    height: 400px;
  }

  .c4 {
    width: 300px;
    height: 300px;
  }

  .c5 {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1024px) {
  .title h1,
  .text-block p,
  .hidden_text {
    font-size: 80px;
    line-height: 100px;
  }

  .star-1,
  .star-2 {
    width: 100px;
    height: 100px;
  }

  .line-out {
    gap: 10px;
  }

  .line-in {
    gap: 1px;
  }

  .line span {
    font-size: 30px;
  }

  .circle {
    width: 400px;
    height: 400px;
  }

  .c2 {
    width: 300px;
    height: 300px;
  }

  .c3 {
    width: 250px;
    height: 250px;
  }

  .c4 {
    width: 200px;
    height: 200px;
  }

  .c5 {
    width: 150px;
    height: 150px;
  }

  .circle-2 {
    left: 300px;
    animation: spin-back 8s infinite linear;
  }

  .circle-3 {
    left: 600px;
  }

  .round-block {
    margin-top: 20px;
  }

  .round-block marquee {
    top: 320px;
    font-size: 30px;
  }

  .star-center {
    top: 255px;
  }

  .mstar-center {
    top: 140px;
  }

  .mstar-center-left {
    top: 350px;
  }

  .mstar-left,
  .mstar-right {
    top: 420px;
  }

  .blink-block {
    margin-top: 450px;
    width: 100%;
    overflow-x: hidden;
  }

  .blink-block .lines {
    margin-top: 400px;
    height: 100%;
    overflow-x: hidden;
  }

  .footer {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .title h1,
  .text-block p,
  .hidden_text {
    font-size: 50px;
    line-height: 40px;
  }

  .title,
  .text-block {
    align-items: center;
  }

  marquee {
    font-size: 20px;
  }

  .line span {
    font-size: 16px;
  }

  .star-1,
  .star-2 {
    width: 70px;
    height: 70px;
  }

  .round-block {
    margin-top: 0px;
  }

  .round-block marquee {
    top: 240px;
  }

  .circle {
    width: 300px;
    height: 300px;
  }

  .c2 {
    width: 200px;
    height: 200px;
  }

  .c3 {
    width: 200px;
    height: 200px;
  }

  .c4 {
    width: 150px;
    height: 150px;
  }

  .c5 {
    width: 100px;
    height: 100px;
  }

  .circle-2 {
    left: 200px;
  }

  .circle-3 {
    left: 390px;
  }

  .star-center {
    top: 190px;
    margin-left: 45%;
  }

  .star-right {
    margin-left: 25%;
    top: 250px;
  }

  .star-left {
    top: 250px;
  }

  .mstar-center-left {
    top: 280px;
  }

  .mstar-left,
  .mstar-right {
    top: 90px;
  }

  .blink-block {
    margin-top: 330px;
  }

  .blink-block .lines {
    margin-top: 250px;
    height: 99%;
  }

  .footer {
    margin-top: 220px;
    height: 210px;
  }
}

@media (max-width: 375px) {
  .title h1,
  .text-block p,
  .hidden_text {
    font-size: 30px;
    line-height: 30px;
  }

  .star-1,
  .star-2 {
    width: 40px;
    height: 40px;
  }

  marquee {
    font-size: 16px;
  }

  .lines {
    margin-top: 5px;
  }

  .line span {
    font-size: 14px;
  }

  .pass-block {
    margin: 10px;
  }

  .pass-block .star-1,
  .pass-block .star-2 {
    width: 30px;
    height: 30px;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .c2 {
    width: 180px;
    height: 180px;
  }

  .c3 {
    width: 160px;
    height: 160px;
  }

  .c4 {
    width: 140px;
    height: 140px;
  }

  .c5 {
    width: 120px;
    height: 120px;
  }

  .circle-2 {
    left: 80px;
  }

  .circle-3 {
    left: 160px;
  }

  .round-block {
    margin-top: -50px;
  }

  .round-block marquee {
    top: 160px;
    font-size: 20px;
  }

  .star-center {
    top: 130px;
  }

  .star-right,
  .star-left {
    top: 180px;
  }

  .mstar-center {
    margin-left: 20%;
  }

  .mstar-center-left {
    top: 200px;
  }

  .blink-block {
    margin-top: 220px;
  }

  .blink-block .lines {
    margin-top: 160px;
    height: 48%;
  }

  .footer {
    margin-top: 150px;
    height: 120px;
  }
}
/* 
@media (max-width: 1580px) {
  .circle-line {
    margin-left: 60px;
  }

  .circle {
    width: 600px;
    height: 600px;
  }

  .c2 {
    width: 500px;
    height: 500px;
  }

  .c3 {
    width: 400px;
    height: 400px;
  }

  .c4 {
    width: 300px;
    height: 300px;
  }

  .c5 {
    width: 200px;
    height: 200px;
  }
} */
